.home_content .table-boxes2{
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 15px 14px;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 0 20px;

}



.nav-link{
    color:black
}

.tab-content{
    margin: 20px 0px 0 0px;
}

.nav-item a:hover {
    color:black
}

.nav-item a:visited {
    color:black
}

.table-boxes2 i{
    font-size: 18px;
    vertical-align: middle;
}






.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 10px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #60c7c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #65aca8;
}

.modal-confirm .btn-danger {
    background: #ee3535;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #bb2d3b;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.home_content .form-boxes{
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 15px 14px;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 0 20px;
}


label.radio-up {
    cursor: pointer;
    width: 100%
}

label.radio-up input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    pointer-events: none
}

label.radio-up span {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    width: 100%;
    text-align: center;
    border: 1px solid #198762;
    display: inline-block;
    color: #198762;
    border-radius: 0.25rem;
    text-transform: uppercase
}

label.radio-up input:checked+span {
    border-color: #198762;
    background-color: #198762;
    color: #fff
}


label.radio-down {
    cursor: pointer;
    width: 100%
}

label.radio-down input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    pointer-events: none
}

label.radio-down span {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    width: 100%;
    text-align: center;
    border: 1px solid #DC3545;
    display: inline-block;
    color: #DC3545;
    border-radius: 0.25rem;
    text-transform: uppercase
}

label.radio-down input:checked+span {
    border-color: #DC3545;
    background-color: #DC3545;
    color: #fff
}
